# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Usuario\Documents\00Lps\00Lps\0La U\03Tercer Semestre\Algoritmos Y Estructuras\hoja_de_trabajo_8__AlgoritmosYEstructuras\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
